.collectionImage {
  height: 150px;
  width: auto;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 4px;
  box-shadow: 7px 7px 5px #0000006b;
}

.collections {
  /* display: grid;
  grid-template-columns: 65% 35%; */
}

.avatarPubPic {
  width: 75px;
  height: auto;
  border-radius: 50%;
  margin: 10px 0px 10px 0px;
}

.pubColUserDetails {
  line-height: 6px;
}

.toggleSwitch {
  position: relative;
}
.react-switch-bg,
.react-switch-handle {
  left: 20vw;
}
