.cardDisplay {
  margin: 20px 20px 20px 20px;
}

.card {
  border-radius: 11px;
}

.collectionImage {
  height: 150px;
  width: auto;
  justify-content: center;
  backface-visibility: hidden;
  border-radius: 4px;
  box-shadow: 7px 7px 5px #0000006b;
}

.collections {
  /* display: grid;
  grid-template-columns: 65% 35%; */
}
.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-text {
  font-size: 4vw;
  margin: 0 1px 0 15px;
}

@media (min-width: 500px) {
  .card-text {
    font-size: 25px;
    /* height: auto; */
  }
  .cardDisplay {
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
}
