.cardDisplay {
  margin: 5px 0 5px 0;
}

.card {
  border-radius: 11px;
}

.collectionImage {
  height: 150px;
  width: auto;
  justify-content: center;
}

.card-body {
  display: grid;
  grid-template-columns: 65% 35%;
}
