.search-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin: 15px;
  height: 260px;
  width: 375px;
  border-radius: 10px;
}

.collect-input {
  margin: 10px;
}

.collect-input {
  border-radius: 5px;
}

.createCollectionBtn {
  margin: 0px 0px 15px 0px;
}
