.collectionButton {
  /* margin: 0px 0 20px 0; */
  border-color: white !important;
  color: rgba(255, 255, 255, 0.838) !important;
  box-shadow: 2px 2px 10px black;
  padding: 7px 10px 7px 10px !important;
}
