.image-source {
  height: 300px;
  width: 200px;
  max-height: 300px;
  max-width: 200px;
  border-radius: 4px;
}
.card-info {
  height: 300px;
  width: 200px;
  margin: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  font-size: 5px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: relative;
  perspective: 600px;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 4px;
  box-shadow: 7px 7px 5px #0000006b;
  text-transform: capitalize;
}

.rotate {
  transform: rotateY(180deg);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.317);
}

.back {
  transform: rotateY(180deg);
  background-color: rgb(242, 255, 0);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.card-header {
  text-transform: capitalize;
}

.card-body {
  text-transform: capitalize;
  width: 260px;
}

.backH2 {
  font-size: 30px;
}

.backH3 {
  font-size: 25px;
}
.backH3Team {
  font-size: 25px;
}
.cardEditButton {
  position: absolute;
  bottom: 20px;
}

.cardHr {
  position: absolute;
  bottom: 50px;
  align-content: center;
}

.cardBackDiv {
  margin: 10px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
