.image-source {
  height: 300px;
  width: 200px;
  max-height: 300px;
  max-width: 200px;
  border-radius: 4px;
}
.card-info {
  margin: 15px;
  border-radius: 4px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  font-size: 5px;
  position: relative;
  background-color: white;
}

.card-overlay {
  position: absolute;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.player-info {
  /* padding: 15px; */
  display: none;
  background-color: transparent;
  color: white;
}
.card-overlay:hover .player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.card-overlay:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.cardHeadPubCol {
  text-transform: capitalize;
}
.card-header {
  margin-top: -1px;
  position: relative;
}

.cardEditButton {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 20px;
}
.cardHr {
  position: absolute;
  bottom: 50px;
  align-content: center;
}

.card {
  border-radius: 11px;
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-transform: capitalize;
}
.card-text {
  font-size: 4vw;
  margin: 0 1px 0 15px;
  border: 1px solid rgba(0, 0, 0, 0.187);
}
.cardDisplay {
  margin: 20px 20px 20px 20px;
  position: relative;
}
@media (min-width: 500px) {
  .card-text {
    font-size: 20px;
  } /* .cardDisplay {
    width: 500px;
    height: 308px;
    margin: 10px;
  } */
}
