/*Main font*/
@import url("https://fonts.googleapis.com/css?family=Tangerine");
/* fallback font */
.pretty {
  font-family: "Tangerine", serif;
  font-size: 48px;
  text-shadow: 2px 2px 2px #ccc;
}
.hrDev {
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  width: 75%;
  box-shadow: 0px 0px 12px 0.01px white;
}

a {
  color: rgba(245, 245, 245, 0.783) !important;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content {
  margin-top: 23%;
}

/* fade left */
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

/* end fade left*/

/*Fade right*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/*end fade right*/

/*Bounce with me playa playa*/
@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@media (max-width: 990px) {
  .aboutMe {
    font-size: 1.5vw;
  }
  .content {
    margin: 5px 0px -15px 0px;
  }
  /* .aboutPic {
    display: float;
  }
  .aboutMeDiv {
    display: float;
  } */
}
@media (max-width: 650px) {
  /* img {
    height: auto;
    width: 50vw;
  } */
  .aboutMe {
    font-size: 12px;
  }
  .meetDevCon {
    display: inline-block;
  }
  .pretty {
    font-size: 34px;
  }
  a {
    font-size: 15px;
  }
  .visitMe {
    font-size: 15px;
  }
  .aboutPicCol {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 460px) {
  .aboutMe {
    font-size: 2vw;
  }
  .pretty {
    font-size: 24px;
  }
  a {
    font-size: 15px;
  }
  .visitMe {
    font-size: 15px;
  }
}

/*End bounce*/

/* hit them with the smooth fade out*/
/* @keyframes myfadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.myfadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 4s;
  animation-delay: 1s;
} */
